<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>日志管理</title>
	<meta name="renderer" content="webkit">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">	
	<meta name="apple-mobile-web-app-capable" content="yes">	
	<meta name="format-detection" content="telephone=no">	
	<link rel="stylesheet" type="text/css" href="/Public/admin/common/layui/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" href="/Public/admin/common/bootstrap/css/bootstrap.css" media="all">
	<link rel="stylesheet" type="text/css" href="/Public/admin/common/global.css" media="all">
	<link rel="stylesheet" type="text/css" href="/Public/admin/css/personal.css" media="all">
</head>
<body>
<section class="layui-larry-box">
	<div class="larry-personal" >
	    <div class="layui-tab">
            
            
		    <div class="layui-tab-content larry-personal-body clearfix mylog-info-box">
		         <!-- 操作日志 -->
                <div class="layui-tab-item layui-field-box layui-show">
                     <table class="layui-table table-hover" lay-even="" lay-skin="nob">
                          <thead>
                              <tr>
                                  <th><input type="checkbox" id="selected-all"></th>
                                  <th>ID</th>
                                  <th>用户名</th>
                                  <th>状态</th>
                                  <th>详情</th>
                                   <th>操作时间</th>
                     
                                  <th>操作</th>
                              </tr>
                          </thead>
                          <tbody>
                           <volist name="ad" id="data">
                            <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{$data['ID']}</td>
                                            <td>{$data['LOG_NAME']}</td>
                                            <td>{$state[$data[LOG_TYPE]]}</td>
                                          <td>{$data['LOG_DESC']}</td>
                                             <td>{$data['GMT_CREATE']}</td>
											<td><a href="javascript:void(0)" class="layui-btn layui-btn-small" onclick="return delall({$data['ID']},{$pg})"><i class="iconfont icon-shanchu1"></i>删除</a>
                                        </td>
                                          </tr>
                            </volist>
                              
                          </tbody>
                     </table>
                      <div class="larry-table-page clearfix">
                         
				          <div id="page2" class="page">{$page}</div>
			         </div>
			    </div>
			     <!-- 登录日志 -->
			  
		    </div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/Public/admin/js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/Public/admin/common/layui/layui.js"></script>
<script type="text/javascript">
layui.use('layer', function(){
var layer = layui.layer;
}); 
function delall(id,pg){
	if(confirm("确认要删除吗？")){
		$.ajax({
				 type: "get",
				 url: "{:U('shezhi/logdel')}",
				 data: {id:id,pg:pg},
				 dataType: "json",
				 async:false,
				 success: function(data){
					layer.msg(data.msg);
						setTimeout(function() {
							window.location =data.href;
						}, 1200);
					
				 }
							
			 });
	}else{
		return false;
	}
}

</script>
</body>
</html>