<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="https://spp1.oss-cn-hongkong.aliyuncs.com/zl/css/mui.min.css">
<link rel="stylesheet" href="https://spp1.oss-cn-hongkong.aliyuncs.com/zl/css/style.css">
    <script src="/js/phone.js"></script>
<title>线路切换</title>
<style type="text/css">
    .list-item{display:flex;width:100%;height:50px;justify-content:space-between;align-items:center;padding:5px 10px;font-size:15px;color:#333;border-bottom:1px solid #E4E3F3;}
    .list-item .qh{background:#3c3c3c;width:70px;padding:5px 0px;color:#fff;border-radius:30px;text-align:center;}
    .list-item .s{background:#7b7b7b;}
</style>
</head>
<body>
    <header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">线路切换</h1>
  </header>
  <div class="mui-content">
      <div v-if="loading" class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
       </div>
      <div v-else>
      <div class="list-item" v-for="(item,index) of listData" :key="index">
          <span>{{item.LU_NAME}}</span>
          <span class="qh s" v-if="ids==index">已选择</span>
          <span class="qh" v-else  @click="qiehuan(index)">切换</span>
      </div>
      <div v-if="jlNum==0" style="text-align:center;margin-top:50px;font-size:15px;color:#666;">暂无记录！</div>
     </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://spp1.oss-cn-hongkong.aliyuncs.com/zl/js/mui.min.js"></script>
<script src="https://spp1.oss-cn-hongkong.aliyuncs.com/zl/api.js"></script>
<script src="https://spp1.oss-cn-hongkong.aliyuncs.com/zl/axios.js"></script>
<script type="text/javascript" charset="utf-8">
    mui.init();
     new Vue({
        el: '.mui-content',
        data: {
            loading: true,
            ids:'',
            listData: '',
            jlNum:0,
        },
        created: function () {
            this.getInfo()
        },
        methods: {
            getInfo() {
                var that = this;
                var ym = document.domain;//当前域名
                axget('/yuminglist', {}).then((res) => {
                    //console.log(res);
                   if (res.code == "0") {
                       that.listData = res.data;
                       if (res.data.length > 0) {
                           for (i = 0; i < res.data.length; i++) {
                                if (ym == res.data[i].LU_REALM) {
                                    that.ids = i;
                                }
                           }
                           that.jiNum = res.data.length
                       } else {
                           that.jiNum =0
                       }
                   } else {
                       mui.toast(res.msg);
                   }
                   that.loading = false;
               })
            }, qiehuan(idx) {
                var that = this;
                var yuming = that.listData[idx];
                //console.log(yuming.LU_REALM);
                window.location.href = "http://" + yuming.LU_REALM;
            }
        }
    })
</script>
</body>
</html>
